name: Test

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  test:
    steps:
      - uses: actions/checkout@v2

      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Check formatting
        run: deno fmt --check

      - name: Check linting
        run: deno lint

      - name: Type check
        run: deno check src/**/*.ts

      - name: Run unit tests
        run: deno test src/spec
